/* Estilos para o contêiner principal */
.registerPsy-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilos para o formulário */
.registerPsy-form {
  display: grid;
  margin-top: 5rem;
  width: 80%;
  height: 75vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  label {
    font-weight: 300;
  }
}

/* Estilos para o banner */
.psyBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  grid-column: span 2;
  background: var(--color-secondary-palatine);
}

/* Estilos para o título */
.title {
  text-align: justify;
  width: 40%;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--color-secondary-blue);
}

/* Estilos para os campos esquerdo e direito */
.filds-left,
.filds-right {
  display: flex;
  flex-direction: column;
}
.filds-left {
  border: none;
  padding-right: 10px;
}
.filds-right {
  border-left: 1px solid;
  padding-left: 15px;
}

/* Estilos para os campos de entrada e caixas de seleção */
.registerPsy-form input[type="text"],
.registerPsy-form input[type="email"],
.registerPsy-form input[type="password"],
.registerPsy-form input[type="file"],
.registerPsy-form select {
  width: calc(96% - 10px); /* Ajuste para compensar a borda */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}
.registerPsy-form input[type="file"] {
  width: 92%;
}

/* Estilos para os campos de entrada quando em foco */
.registerPsy-form input[type="text"]:focus,
.registerPsy-form input[type="email"]:focus,
.registerPsy-form input[type="password"]:focus,
.registerPsy-form input[type="file"]:focus,
.registerPsy-form select:focus {
  outline: none; /* Removendo a borda de foco padrão */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionando sombra ao foco */
}
/* Estilos para o botão de envio */
.psyButton {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  height: 5vh;
  margin-top: 0.8rem;
}

.registerPsy-form button.psySubmit {
  width: calc(8vw - 20px); /* Ajuste para compensar o padding */
  padding: 10px;
  background: var(--color-secondary-cyan);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerPsy-form button.submit:hover {
  background-color: #0056b3;
}

@media (max-width: 720px) {
  .registerPsy-form button.submit {
    width: 5rem;
  }
  .registerPsy-form {
    width: 90%;
  }
  .filds-left,
  .filds-right {
    border: none;
  }
  .registerPsy-form input[type="file"] {
    width: 80%;
  }
}
