.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #083263;
  color: #fff;
}

.login-form {
  width: 20vw;
  padding: 0px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.title {
  width: 3rem;
}
.login-form h2 {
  text-align: left;
  font-size: 2.3rem;
  color: #fff;
  border-bottom: solid 2px;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5); /* Adiciona sombra apenas à borda inferior */
}

.login-form input {
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-form button {
  width: 7vw;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.select-Role {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.select-Role option {
  color: #000;
}

@media (max-width: 720px) {
  .login-form {
    width: 80%; /* Reduzir a largura do formulário para ocupar menos espaço */
    max-width: 350px; /* Definir uma largura máxima para o formulário */
  }

  .login-form h2 {
    font-size: 2rem; /* Reduzir o tamanho do título para caber melhor em telas menores */
  }

  .login-form button {
    width: 30vw; /* Fazer o botão ocupar toda a largura do formulário */
  }
}
.flash-message {
  position: fixed;
  top: 7vh;
  left: 0;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  z-index: 9999;
  opacity: 0; /* Inicialmente, define a opacidade como 0 para esconder a mensagem */
  transition: opacity 1s ease-in-out; /* Adiciona uma transição suave de opacidade */
}

.flash-message.show {
  opacity: 1; /* Quando a classe .show é adicionada, a opacidade é definida como 1, mostrando a mensagem */
}

.error-message {
  background-color: rgba(255, 0, 0, 0.8); /* Vermelho quase transparente */
  color: white;
}

.success-message {
  background-color: ""; /* Azul quase transparente */
  color: white;
}
